.rodapeTodo{
    color: #edd38c;
    justify-content: center;
    background-color: #423511;
    width: 100%;
    margin-top: 50px;
}

.rodapeTodo h1{
    display: flex; /*icones um a lado do outro*/
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    padding-top: 25px;
    font: 25px "Nunito", sans-serif;
    letter-spacing: 1px;
}

.rodapeTodo h2{
    display: flex; /*icones um a lado do outro*/
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    font: 18px "Nunito", sans-serif;
}

.rodape{
    display: flex; /*icones um a lado do outro*/
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    list-style: none;
    background-color: #423511;
    padding: 15px;
}

.rodape ul {
    margin: 150px;
}

.rodape li {
    margin: 0 1em;
}

.rodape svg {
    font-size: 25px;
    color: #edd38c;
    cursor: pointer; /*simula um link*/
}